<a class="btn" href="{{ path('app_vote_up', {'idpublication': p.idpublication}) }}"><i class="fa fa-thumbs-up"></i></a>
{{ nbrV }}
<a class="btn" href="{{ path('app_vote_down', {'idpublication': p.idpublication}) }}"><i class="fa fa-thumbs-down"></i></a>