{% extends 'admin/index.html.twig' %}
{% use "bootstrap_4_layout.html.twig" %}

{% block title %}Ajout Produit{% endblock %}

{% block body %}
    <h1>Ajout Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}" class="btn btn-outline-info">retour vers la liste</a>
{% endblock %}
