{% extends 'base.html.twig' %}

{% block title %}Edit Publication{% endblock %}

{% block body %}
    <article class="row post vt-post shadow-sm d-flex justify-content-center shadow-lg">
        <div class="col-xs-11 col-sm-4 col-md-4 col-lg-3">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                 class="post-img img-responsive"
                 alt="image post" width="275" height="250">
            <div class="author-info author-info-2">
                <div class="list-inline">
                    <div class="info">
                        <p>Publié le: <strong>{{ p.date | date('Y-m-d') }}</strong></p>
                    </div>
                    <div class="info">
                        <p>Comments: <strong>{{ nbrC }}</strong></p>
                    </div>
                    <div class="info">
                        <p>Votes: <strong>{{ nbrV }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-sm-5 col-md-5 col-lg-6">
            <div class="caption">
                {{ include('publication/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </article>
{% endblock %}
