{% extends 'base.html.twig' %}

{% block title %}Publication index{% endblock %}

{% block body %}
    <p>haw message</p>
    <a href="{{ path('app_publication_new') }}">Create new</a>
{% endblock %}
