{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset("css/post.css") }}" rel="stylesheet">
{% endblock %}

{% block title %}Publication
{% endblock %}

{% block hero %}
    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="container my-5 py-5px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <p>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ include('publication/article.html.twig') }}
    {{ include('commentaire/activity.html.twig') }}
{% endblock %}