{% extends 'admin/index.html.twig' %}

{% block title %}Modifier Livraison{% endblock %}

{% block body %}
    <h1>Modifier Livraison</h1>

    {{ include('livraison/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_livraison_index') }}" class="btn btn-outline-info" >retour vers la liste</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
