{% extends 'admin/index.html.twig' %}
{% use "bootstrap_4_layout.html.twig" %}

{% block title %}Ajouter une livraison{% endblock %}

{% block body %}
    <h1>Ajouter un Livraison</h1>

    {{ include('livraison/_form.html.twig') }}

    <a href="{{ path('app_livraison_index') }}"class="btn btn-outline-info">retour vers la liste</a>
{% endblock %}
