<form method="post" action="{{ path('app_personne_delete', {'idPersonne': personne.idPersonne}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personne.idPersonne) }}">
    <center>
    <button class="btn btn-danger">Delete</button>
    </center>
</form>
