{% extends 'admin/index.html.twig' %}
{% use "bootstrap_4_layout.html.twig" %}
{% block title %}Edit Personne{% endblock %}

{% block body %}
    <h1>Edit Personne</h1>
    {{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
{{form_widget(form)}}
<center>
    {{ include('personne/_form.html.twig', {'button_label': 'Update'}) }}

    

    <center>
    {{ form_end(form) }}
{% endblock %}
