<form method="post"
      action="{{ path('app_commentaire_delete', {'idcommentaire': c.idcommentaire}) }}"
      onsubmit="return confirm('Voulez vous vraiment supprimer ce commentaire?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.idcommentaire) }}">
    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
</form>
